<h1>About Me</h1>

<h4>Major: Computer Science</h4>
<%= image_tag 'computersAndMe.jpg', width:"400px"  %>

<h4>Minor: Information Technology Management</h4>
<%= image_tag 'computersAndMe.jpg'  %>

<h4>Classification: Senior(May 2017)</h4>
<%= image_tag 'computersAndMe.jpg'  %>

<h4>Work Information:</h4>
<%= image_tag 'workDesk.jpg',  width:"400px"  %>

<h5>Position: Applications Developer Intern</h5>
<h5>Company: PTS Solutions, Inc (Public)</h5>


<h4>My Favorite Things To Do:</h4>
<%= image_tag 'self.jpg', width:"400px"  %>
<%= image_tag 'googleGHC.jpg', width:"400px"  %>

<%= image_tag 'inNOut.jpg', width:"400px"  %>

